.product-cart {
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #e1e1e1;

    img {
      width: 310px;
      margin-top: 20px;
      border-radius: 10px;
      max-height: 180px;
      object-fit: cover;
    }

    h4 {
      font-size: 20px;
      width: 310px;
      margin: 10px;
    }

    p {
      width: 310px;
    }

    .price-container {
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 80px;

      span {
        font-size: 26px;
        font-weight: 600;
      }

      button {
        padding: 15px 30px;
        border: none;
        background-color: #c19b77;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          background-color: #222;
        }
      }
    }
  }
}
