.bakery-details {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;
    margin-top: 80px;
    margin-bottom: 80px;

    .bakery-front {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;

      .bakery-img {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: auto;
          max-height: 500px;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .bakery-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 100px;
        background-color: #fff;
        position: absolute;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        border-radius: 10px;

        h3 {
          font-size: 32px;
          color: #222;
        }
      }

      .adress-container {
        display: flex;
        margin-top: 80px;
        width: 1400px;
        justify-content: space-between;

        .adress {
          flex: 1;
          h4 {
            font-size: 28px;
            margin-bottom: 15px;
          }
          p {
            font-size: 20px;
            margin-bottom: 5px;
          }
        }

        .rating {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          gap: 15px;
          h4 {
            font-size: 36px;
          }

          span {
            font-size: 32px;
          }
        }

        .social {
          display: flex;
          flex-direction: column;
          align-items: center;
          flex: 1;
          h4 {
            font-size: 28px;
            margin-bottom: 20px;
          }
          .wrap {
            display: grid;
            grid-template-columns: 80px 80px 80px 80px;
            gap: 10px;

            .icon-container {
              width: 80px;
              height: 80px;
              background-color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
              border-radius: 5px;
              cursor: pointer;
              transition: 0.3s ease;

              &:hover {
                background-color: #f3f4f6;
              }
            }
          }
        }
      }
    }
    .tabs {
      width: 100%;
      margin-top: 80px;

      .MuiTabPanel-root {
        padding: 0;

        .grid {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(5, 1fr);
          gap: 10px;
          margin-top: 10px;

          .pagin {
            margin-top: 40px;
          }
        }
      }
    }
  }
}
