.my-shopping {
  display: flex;
  justify-content: center;
  .container {
    width: 1400px;
    gap: 20px;
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;

    .left {
      width: 25%;
    }

    .right {
      width: 75%;

      .main-content {
        border: 1px solid #ddd;
        min-height: 560px;
        border-radius: 10px;
      }
    }
  }
}
